@import url('https://fonts.googleapis.com/css2?family=Jolly+Lodger&display=swap');

.reset {
    margin: 0;
}
h1, h2, h3, .menu{
    font-family: 'jolly lodger';
}
header {
    background-color: #EEBBD4;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header ul {
    list-style-type: none;
    font-size: 2rem;
    display: flex;
}
header li {
    padding: 1rem;
}
.logo img {
    height: 6rem;
}
